[Unit]
Description=Proxy Manager Files
After=network-online.target proxymanager-rustfs.service proxymanager-postgresql.service
Requires=proxymanager-rustfs.service proxymanager-postgresql.service

[Container]
Image=west94.com/proxymanager-files:1.0.0-alpha
ContainerName=proxymanager-files
Environment=ObjectStorage__ServiceUrl=http://proxymanager-rustfs:9000
Environment=ObjectStorage__Bucket=proxymanager
Secret=rfs-access-key,type=env,target=ObjectStorage__AccessKey
Secret=rfs-secret-key,type=env,target=ObjectStorage__SecretKey
Pod=proxymanager.pod

[Service]
Restart=always
TimeoutStartSec=900

[Install]
WantedBy=default.target
