[Unit]
Description=Proxy Manager API
After=network-online.target proxymanager-postgresql.service
Requires=proxymanager-postgresql.service

[Container]
Image=west94.com/proxymanager-api:1.0.0-alpha
ContainerName=proxymanager-api
EnvironmentFile=.env
Pod=proxymanager.pod

[Service]
Restart=always
TimeoutStartSec=900

[Install]
WantedBy=default.target
