[Unit]
Description=Proxy Manager RustFS Container
After=network-online.target

[Container]
Environment=RUSTFS_ADRESS=9000
Environment=RUSTFS_CONSOLE_ENABLE=true
Secret=rfs-access-key,type=env,target=RUSTFS_ACCESS_KEY
Secret=rfs-secret-key,type=env,target=RUSTFS_SECRET_KEY


Image=docker.io/rustfs/rustfs:latest
ContainerName=proxymanager-rustfs
PublishPort=9000:9000
PublishPort=9001:9001
Volume=%h/proxymanager-rustfs/data:/data


[Service]
ExecStartPre=mkdir -p %h/proxymanager-rustfs/data && chown -R 1000:1000 %h/proxymanager-rustfs/data
Restart=always
RestartSec=10sec
TimeoutStartSec=900

[Install]
WantedBy=default.target